/* style.css */
*{
  margin: 0;
}
.body{
  overflow-y: hidden;
}
.main{
  overflow-y: hidden;
}
.container{
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  padding-bottom: 10px;
  overflow-y: auto;


}
.lista{
  max-height: calc(100vh-210);
  padding-bottom: 10px;
   
}
ul#list {
  list-style: none;
  padding: 0;
}

ul#list li {
  padding: 8px;
}

ul#list li:nth-child(even) { 
  background-color: transparent;
}

input#pessoa {
  padding: 10px;
  width: 200px; 
  border-radius: 8px;
  font-size: 16px;  
}

.btn {
  background-color: rgb(255, 255, 255);
  color: rgb(38, 101, 173);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  padding: 8px;
}

.pix{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 0px;  
  color: rgb(38, 101, 173);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1rem;
}

#iconeCopiar {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.2s;
}

/* comum para todos os textos */
h3,h1,p{
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
/* titulo */
h1 {
  color:rgb(239, 239, 243);  
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
/* roda pé */
.textFooter{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/* container do header */
header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 150px;
  position: fixed;
  top: 0;
  background-color:rgb(38, 101, 173);
}

.input{
 width: 100vw; 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 10px;

}

.lista{
  width: 100vw;
  display: flex;
  justify-content: center;
  color: rgb(38, 101, 173);
  font-family: Arial, Helvetica, sans-serif; 
}

footer{
  background-color:rgb(38, 101, 173);
  width: 100vw;
  text-align: center;   
  font-size: 12px;
  display: flex;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
}

footer svg path{
  fill: white;
}

#iconeCopiar.copiado {
  transform: scale(1.2);
}

.redes-sociais{
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.campo{
  padding: 10px;
  width: 90vw;
  border: none;
  border-radius: 8px;
  font-size: 16px;  
}
#admin-list{
  margin-bottom: 90px;
}

 .item-presente {
  width: 100%;
  display: flex;
  justify-content: center;
 

}

.center{
  display: flex;
  justify-content: flex-start;
  width: 60%;
  padding: 10px;
  margin-bottom: 5px ;
  border-radius: 8px;
  background:rgb(162, 195, 233);
}

.span-adm{
  color:rgb(38, 101, 173);
}

.adm-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adm-icon svg {
  width: 24px;
  height: 24px;
  fill: #fff; /* cor do ícone */
  transition: transform 0.2s ease;
}

.adm-icon:hover svg {
  transform: scale(1.2);

 
}
