/* style.css */
*{
  margin: 0;
}
.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

ul#list {
  list-style: none;
  padding: 0;
  
}

ul#list li {
  padding: 8px;
}

ul#list li:nth-child(even) { 
  background-color: transparent;
}

input#pessoa {
  padding: 10px;
  width: 200px; 
  border-radius: 8px;
  font-size: 16px;  
}
.btn {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  padding: 8px;
}
.pix{
  color: rgb(2, 2, 78);
  background-color: #f6f4f7;
}
.salvar{
  background-color: rgb(2, 2, 78);
}
h3,h1,p{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

h1 {
  color:rgb(239, 239, 243);
  /* color:rgb(2, 2, 78);  */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.textFooter{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  background-color:rgb(38, 101, 173);
  
}
.input-container{

 width: 100vw; 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 10px;

}
.lista{
  width: 100vw;
  display: flex;
  justify-content: center;
  
}
.areaPix{
  padding: 300px  0;  
  width: 100vw; 
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 15px;
}

footer{
  background-color:rgb(38, 101, 173);
  width: 100vw;
  height: 70px;
  text-align: center;   
  font-size: 12px;
  display: flex;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
}

footer svg path{
  fill: white;
} 
#iconeCopiar svg path{
fill:rgb(38, 101, 173);
}

#iconeCopiar {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.2s;
}

#iconeCopiar.copiado {
  transform: scale(1.2);
}

.redes-sociais{
  display: flex;
  gap: 20px;
}

.campo{
  padding: 10px;
  width: 90vw;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  
}

.fundo_ {
  width: 100vw;
  height: 100px;
  background-image: url('/public/assets//back.jpg');
  background-size: cover;      /* cobre todo o elemento */
  background-position: center; /* centraliza a imagem */
   
  
  /* background-repeat: no-repeat;não repete a imagem */
}

